#!/usr/bin/env bash

set -eE

HOME_BACKUP=/home.bak
die() {
  line_no=$1
  if [ -d $HOME_BACKUP ]; then
    mv $HOME_BACKUP /home
  fi
  echo "Died at $line_no in $(realpath $0)"
}
trap 'die $LINENO' ERR

device_name="${device_name}"
partition_name="$${device_name}1"

device_exists=1
num_partitions=0

sleep_time_sec=2
for i in {1..10}
do
  echo "[+] Checking that block device $${device_name} is attached"
  fdisk -l $device_name || echo "$${device_name} not found, sleeping for $${sleep_time_sec} sec"
  sleep $sleep_time_sec
  sleep_time_sec=$(( 3 * sleep_time_sec / 2)) # exponential backoff by factor of 1.5
done

echo "[+] Checking for existing partitions"
num_partitions=$(
  lsblk $device_name -J | jq -r \
    --arg DEVICE_NAME $device_name \
    '[.blockdevices[] | (select("/dev/" + .name == $DEVICE_NAME).children // []).[] | select(.type == "part")] | length'
)

if (( $num_partitions < 1)); then
  echo "[+] Partitioning $${device_name}"
  parted -s $device_name -- mklabel gpt \
    mkpart main ext4 1MiB -1

  echo "[+] Making a file system on $${partition_name}"
  partprobe $device_name
  mkfs.ext4 $partition_name
else
  echo "[+] Found $${num_partitions} partition(s) on $${device_name}"
  echo "[+] This is probably because this block device has already been partitioned and formatted"
fi

echo "[+] Mounting $${partition_name} as /home"
home_mode=$(stat -c "%a" /home)
mv /home $HOME_BACKUP
mkdir -m="$${home_mode}" /home
mount $partition_name /home

echo "[+] Making entry in fstab"
echo "$${partition_name} /home ext4 defaults 0 2" >> /etc/fstab

echo "[+] Copying old home directory to new one"
rsync -a "$${HOME_BACKUP}/" /home/

echo "[+] Cleaning up"
if [ -d "/home/$(whoami)" ]; then
  rm -rdf $HOME_BACKUP
fi